@import "../../../styles/constants.scss";

.navbar {
  height: 50px;
  background-color: $navbarBackground;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .navbar-logo {
    width: 150px;
    + img {
      width: 120px;
      margin-left: auto;
    }
  }
}
