@import "../../styles/constants.scss";

.selectfloor {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;

    /* Andar */
    .floor {
      height: 450px;
      width: 500px;
      margin: 0px 5px;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        position: absolute;
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: white;
        border: none;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: lightgray;
      }
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        color: white;
        height: 120px;
        width: 480px;
        margin: 5px;
        border-radius: 10px;
        background-color: $alaranjado;
        user-select: none;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
        &:hover {
          filter: brightness(80%);
        }
      }
    }

    /* Edficio */
    .building {
      display: flex;
      flex-direction: column;
      height: 450px;
      width: 500px;
      margin: 0px 5px;
      padding: 30px 20px 0px 20px;
      background-color: white;
      border-radius: 10px 10px 0 0;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        position: absolute;
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: white;
        border: none;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: lightgray;
      }
      .board {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: $verde-limao;
        height: 100%;
        width: 100%;
        margin: 10px 0px;
        hr {
          transform: rotate(90deg);
          width: 10%;
        }
      }

      .entrance {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        .door {
          height: 80px;
          width: 40%;
          background-color: black;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      .btn {
        max-width: 300px;
      }
      .floor {
        max-width: 320px;
      }
      .building {
        max-width: 320px;
      }
    }
  }
}
