@import "../../styles/constants.scss";

.selectfloor {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;

    /* Andar */
    .floor {
      height: 450px;
      width: 500px;
      margin: 0px 5px;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        position: absolute;
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: white;
        border: none;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: lightgray;
      }
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        color: white;
        height: 120px;
        width: 480px;
        margin: 5px;
        border-radius: 10px;
        user-select: none;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
        border: none;
        &:hover {
          filter: brightness(80%);
        }
      }
    }
    .blocked {
      color: transparent;
      background-color: transparent;
      border: 1px solid transparent;
      user-select: none;
      cursor: pointer;
    }
    .disponible {
      background-color: $alaranjado;
      user-select: none;
      cursor: pointer;
    }
    .indisponible {
      background-color: grey;
      user-select: none;
      cursor: pointer;
    }
    .wheelchair {
      background-color: $azulLinear;
      user-select: none;
      cursor: pointer;
    }
    .wheelchair-logo {
      height: 25px;
      cursor: pointer;
    }

    @media screen and (max-width: 1023px) {
      .btn {
        max-width: 300px;
      }
      .floor {
        max-width: 320px;
      }
      .building {
        max-width: 320px;
      }
    }
  }
}
